@using Orkulausnir.Models
@model MeasurementViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Mæling</h2>
    </div>
    <div class="col-md-4">
        <h2>Samanburðarmæling</h2>
    </div>
    <div class="col-md-4">
        <h5>Ef enginn samanburðarmæling er valin er hver stöpull í grafinu fasi.</h5><h5>Ef samanburðarmæling er valin birtast tveir stöplar fyrir hvora mælingu þar sem gildin er samanlagðir fasar</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.DropDownListFor(model => Model.FileName1, Model.DataSets, new { id = "ddlFileName1" })
    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(model => Model.FileName2, Model.DataSets, "Veldu mælingu", new { id = "ddlFileName2" })
    </div>
    <div class="col-md-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <h4>Current/Voltage</h4>
        @Html.RadioButton("useCurrent", Model.UseCurrent, true, new { id = "rbUseCurrent" })
        <label>Current</label><br />
        @Html.RadioButton("useVoltage", !Model.UseCurrent, new { id = "rbUseVoltage" })
        <label>Voltage</label>
    </div>
    <div class="col-md-2">
        <h4>Fasi</h4>
        @Html.CheckBoxFor(m => m.IncludePhaseA, new { id = "cbIncludePhaseA" })
        @Html.LabelFor(m => m.IncludePhaseA)<br />
        @Html.CheckBoxFor(m => m.IncludePhaseB, new { id = "cbIncludePhaseB" })
        @Html.LabelFor(m => m.IncludePhaseB)<br />
        @Html.CheckBoxFor(m => m.IncludePhaseC, new { id = "cbIncludePhaseC" })
        @Html.LabelFor(m => m.IncludePhaseC)<br />
        @Html.CheckBoxFor(m => m.IncludePhaseNeutral, new { id = "cbIncludePhaseNeutral" })
        @Html.LabelFor(m => m.IncludePhaseNeutral)
    </div>
    <div class="col-md-2">
        <h4>Meðaltal/Hámark</h4>
        @Html.RadioButton("useAverage", Model.UseAverage, true, new { id = "rbUseAverage" })
        <label>Meðaltal</label><br />
        @Html.RadioButton("useMax", !Model.UseAverage, new { id = "rbUseMax" })
        <label>Hámark</label>
    </div>
    <div class="col-md-2">
        <h4>Harmonics</h4>
        @Html.CheckBoxFor(m => m.IncludeHarmonics1_16, new { id = "cbIncludeHarmonics1_16" })
        @Html.LabelFor(m => m.IncludeHarmonics1_16)<br />

        @Html.CheckBoxFor(m => m.IncludeHarmonics17_31, new { id = "cbIncludeHarmonics17_31" })
        @Html.LabelFor(m => m.IncludeHarmonics17_31)<br />

        @Html.CheckBoxFor(m => m.IncludeHarmonics32_47, new { id = "cbIncludeHarmonics32_47" })
        @Html.LabelFor(m => m.IncludeHarmonics32_47)<br />

        @Html.CheckBoxFor(m => m.IncludeHarmonics48_63, new { id = "cbIncludeHarmonics48_63" })
        @Html.LabelFor(m => m.IncludeHarmonics48_63)
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <input class="btn btn-primary" type="submit" id="filter" title="Bera saman" value="Bera saman"/>
    </div>
</div>

<div class="row">
    <div id="chartContainer"></div>
</div>

<script type="text/javascript">

    $('#filter').click(function (event) {
        event.preventDefault();

        var dto = {
            FileName1: $('#ddlFileName1').val(),
            FileName2: $('#ddlFileName2').val(),
            UseCurrent: $("#rbUseCurrent").prop('checked'),
            
            UseAverage: $("#rbUseAverage").prop('checked'),
            
            IncludeHarmonics1_16: $("#cbIncludeHarmonics1_16").prop('checked'),
            IncludeHarmonics17_31: $("#cbIncludeHarmonics17_31").prop('checked'),
            IncludeHarmonics32_47: $("#cbIncludeHarmonics32_47").prop('checked'),
            IncludeHarmonics48_63: $("#cbIncludeHarmonics48_63").prop('checked'),

            IncludePhaseA: $("#cbIncludePhaseA").prop('checked'),
            IncludePhaseB: $("#cbIncludePhaseB").prop('checked'),
            IncludePhaseC: $("#cbIncludePhaseC").prop('checked'),
            IncludePhaseNeutral: $("#cbIncludePhaseNeutral").prop('checked')
        };

        console.log(dto);
        $.ajax({
            type: "POST",
            data: JSON.stringify(dto),
            url: '@Url.Action("Compare", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                populateGraph(result);
            },
            error: function (request, error) {
                alert('Service call failed: ' + request.status + ' ' + request.statusText);
            }
        });
    });

    function populateGraph(data) {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Samanburður mælinga"
            },
            subtitles: [
                { text: "Prófaðu að stækka browser'inn" }
            ],
            data: data
            //[
            //    {
            //        type: "column", //change type to bar, line, area, pie, etc
            //        dataPoints: data
            //        //[
            //        //    { x: 10, y: 71 },
            //        //    { x: 20, y: 55 },
            //        //    { x: 30, y: 50 },
            //        //    { x: 40, y: 65 },
            //        //    { x: 50, y: 95 },
            //        //    { x: 60, y: 68 },
            //        //    { x: 70, y: 28 },
            //        //    { x: 80, y: 34 },
            //        //    { x: 90, y: 14 }
            //        //]
            //    }
            //]
        });
        chart.render();
    };

    $('#rbUseAverage').click(function() {
        $('#rbUseMax').attr('checked', false);
    });

    $('#rbUseMax').click(function () {
        $('#rbUseAverage').attr('checked', false);
    });

    $('#rbUseCurrent').click(function () {
        $('#rbUseVoltage').attr('checked', false);
    });

    $('#rbUseVoltage').click(function () {
        $('#rbUseCurrent').attr('checked', false);
    });
</script>
